body {
  background-color: bisque;
}

h1 {
  color: red;
}

p {
  columns: 3 40px;
  column-rule: 2px solid red;
}

h1 span:hover {
  color: green;
}

p::selection {
  color: white;
  background-color: blue;
}
